*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    color: white;
    background-color: black;
    padding: 15%;
}
header nav ul li a{
    width: 200px;
  height: 150px;
}

main a button {
    background-color: grey; /* Color inicial del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer
}
main a button:hover {
    background-color: blue;
}