*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
 /* body {
    height: 100vh;
    width: 100vw;
}  */
 
header{
    color: white;
    background-color: black;  
    padding: 0%;

    position: sticky;
    top: 0; 
    text-align: center;
    z-index: 1000; 
}
header nav {
    width: 100%;
}
header nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;   
}
.dropdown { 
    position: relative; 
  }
  .dropdown-menu { 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 0; 
  }
  .dropdown:hover .dropdown-menu { 
    display: block;
  }
  .arrow {
    font-size: 12px; 
    margin-left: 5px; 
  }
  .navbar {
    background-color: black; 
    overflow: hidden; 
    display: flex; 
    justify-content: space-around; 
    padding: 1em;
  }
  .navbar a {
    color: white; 
    text-decoration: none; 
    padding: 0.5em 1em; 
  }
  .navbar a:hover {
    background-color: #575757; 
    transition: 0.3s;
  }
 
main {
    background-color: rgb(0, 115, 255);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
#logo img{
    width: 100%;
    align-items: center;
}

.prueba{
    width: 100%;
    height: 100vh;
    font-size: larger;
    gap: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -220px;
    z-index: 2;
}
.prueba img {
    width: 100%;
    position: absolute;
    z-index: -1;
}
.prueba a button {
    background-color: rgb(119, 24, 214); 
    font-size: larger;
    color: white;
    padding: 40px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer
}
.prueba a button:hover {
    background-color: blue;
    transition: 0.3s;
}

#cartel img{
        width: 100%;
        display: flex;
        justify-content: center;
}
#cartel{
    margin-top: -270px;
    width: 100%;
}


#Infobands {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px ;
    gap: 20px;
    padding: 10px;
}
#Infobands article{
    width: 33%;
    border: 3px solid rgb(112, 112, 215);
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 129, 239);
    
}

#Infobands article div img {
    width: 100%;
    padding: 10px;
    height: 500px;
}
#Infobands article p {
    width: 100%;
    padding: 8px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aiuda{
    width: 100%;
}
div h3 {
    font-weight: bolder;
    font-family: sans-serif;
    color: rgb(242, 239, 193);
}
.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.faqs details {
    width: 100%;
    border:  1px solid black;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.faqs summary {
    cursor: pointer;
}
.faqs p {
    margin: 0;
}


footer{
    color: white;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-color: grey;
}

.cookie-footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: #222; 
    color: #fff; 
    padding: 1em;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  .cookie-footer button {
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  .cookie-footer button:hover {
    background-color: #45a049; 
  }

/* responsive section */

  @media (max-width: 600px) {
    .list li:not(:last-child) {
        display: none;
    }
    .navbar a{
        padding-left: 30px;
    }
    .navbar a:nth-child(1) {
        display: none;
        justify-content: space-around;
        align-items: center;
    }
    .prueba{
        font-size: small;
        padding: none;
    }
    .prueba h2 {
        width: 50%;
        text-align: center;
    }

    .prueba a button {
        background-color: rgb(55, 91, 148); 
        font-size: small;
        color: white;
        padding: 10px ;
        border: none;
        border-radius: 20px; 
        cursor: pointer
    }
    .prueba a button:hover {
        background-color: rgb(124, 124, 213);
        transition: 0.3s;
    }
    #cartel{
        margin-top: -225px;
    }
    #Infobands {
        flex-direction: column;
        margin: 1px ;
        width: 100%;
    }
    #Infobands article{
        width: 100%;
    }
  } 

  @media (min-width: 600px) and (max-width: 1023px) {
    .prueba{
        margin-top: -350px;
    }
    .prueba h2 {
        width: 40%;
        text-align: center;
    } 

    .prueba a button {
        background-color: rgb(55, 91, 148); 
        font-size: xx-large;
        color: white;
        padding: 30px ;
        border: none;
        border-radius: 20px; 
        cursor: pointer
    }
    .prueba a button:hover {
        background-color: rgb(124, 124, 213);
        transition: 0.3s;
    }
    #cartel{
        margin-top: -350px;
    }
    #Infobands {
        flex-direction: column;
        margin: 1px ;
        width: 100%;
    }
    #Infobands article{
        width: 90%;
    }
    #Infobands article p{
        font-size: x-large;
    }
  }


   @media (min-width: 1024px)  {
    .list {
        font-size: x-large;
    }
    #logo {
        padding: 40px;
    }
    .prueba h1{
        font-size: 50px;
        padding-top: 60px;
    }
    .prueba h2 {
        width: 50%;
        text-align: center;
        font-size: 35px ;
    }
    .prueba a button {
        padding: 50px;
        background-color: rgb(55, 91, 148); 
    }

    #cartel{
        padding-top: 150px;
    }


  } 